<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    {%- include social.html -%}
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <small>{{- site.description | escape -}}</small>
    <ul class="contact-list">
      <li class="p-name">
        {%- if site.author -%}
          {{ site.author | escape }}
        {%- endif -%}
      </li>
      {%- if site.email -%}
        <li>
          <a class="u-email"
            href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
      {%- endif -%}
    </ul>

    <div class="footer-col-wrapper">
      <div class="footer-copyright">
        <small>Copyright 2019. Ju-won Lee. All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>
