
/* night mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #bbb;
  }
  a, a:visited {
    color: #379fc7
  }
  a:hover {
    color: #66aecc
  }
  a.site-title, a.site-title:visited {
    color: #bbb;
  }
  a.site-title:hover {
    color: #eee
  }
  .site-header {
    border-bottom-color: #333;
  }

  @media screen and (max-width: 600px) {
    .site-nav {
      background: #222;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3)
    }
  }

  .site-nav .page-link {
    color: #aaa
  }
  .site-nav .page-link:hover {
    background: #333;
    color: #ddd
  }
  .site-footer {
    background: #333;
    box-shadow: inset 0 30px 20px -20px rgba(0, 0, 0, 0.1)
  }
  .tag-item {
    background: #333;
  }
  .tag-item:hover {
    background: #444;
  }
  a.post-title:hover {
    background: #333;
  }
  a.post-title .post-excerpts {
    color: #999
  }
  .post-content {
    border-top-color: #333;
  }

  table, table th, table td {
    border-color: #555;
  }
  table th {
    background: #444;
    color: #ddd
  }
  table td {
    color: #ddd
  }
  table tr:nth-child(even) {
    background: #2a2a2a;
  }

  blockquote {
    border-left-color: #444;
  }

  pre, code {
    background: #176686;
    color: #ddd
  }

  .utterances {
    border-top-color: #333;
  }
}
