---

---

@charset 'UTF-8';
@import 'minima';
@import 'syntax';

body {
  font: 300 16px/1.5 'Noto Sans KR', sans-serif;
  background: #fff;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a:visited {
  color: #087ba8;
}

a {
  color: #087ba8;
  transition: background 0.2s, color 0.2s;
}
a:hover {
  text-decoration: none;
  color: #004966;
}

a.site-title {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  padding: 5px;
  line-height: 26px;
  margin: 10px -5px;
}
a.site-title:hover {
  background: #004966;
  color: #fefefe
}

.post-title {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1.2;
}

a.post-title {
  font-size: 22px;
}

@media screen and (max-width: 800px) {
  .post-title {
    font-size: 22px;
    line-height:28px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 600px) {
  .site-nav {
    border: 0;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  }
}

.site-header {
  border-top:0;
  border-bottom: 1px solid #efefef;
}

.site-footer {
  background: #fefefe;
  font-size: 15px;
  color: #828282;
  box-shadow: inset 0 30px 20px -20px rgba(0,0,0,0.05);
  border: 0;

  .footer-heading {
    margin-bottom:0;
    font-weight: 300;
  }

  .contact-list, .social-media-list {
    font-size: 0.9em
  }

  .social-media-list {
    float:right;
    margin-top:5px;
    li {
      display: inline
    }
  }

  .footer-copyright {
    text-align: center;
  }
}

pre, code {
  background: #bbddea;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9em;
  color: #333;
  border: 0;
  border-radius: 3px;
}

pre.highlight {
  code{
    color: #fefefe;
    background: none;
    font-size: 1em;
  }
}

.tag-container {
  padding: 0;
  margin: 0;
}

.tag-item {
  list-style: none;
  font-size: 0.8em;
  margin: 0;
  padding: 0 5px;
  border-radius: 3px;
  display: inline-block;
  background: #f5f5f5;

  a {
    text-decoration: none
  }
}

.post-date {
  font-size: 0.8em;
  color: #828282
}

.post-tags {
  display: inline-block
}

.post-content {
  margin-top: 20px;
  padding-top: 10px;
}
