---
layout: default
---

<div class="post">
  <span class="post-date">
    {{ page.date | date: "%Y %b %d" }},
    {% include read_time.html content=content %}
  </span>

  {% include post_tags.html %}

  <h1 class="post-title">{{ page.title }}</h1>

  <div class="toc-container">
    {% include toc.html html=content h_max=3 sanitize=true %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</div>

<script src="{{ "assets/posts.js" | relative_url }}"></script>
